body{ 
 background-image: linear-gradient(to left, #d5f2ed, #F2CECE, #FFC2AA); 
    
    } 
    
     
    
    h2{ 
     font-size: 15px; 
     padding-top: 12px; 
     margin: 0; 
     color: #04070D; 
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
    } 